@page "/schedule/{Id}"
@using Sot.BlazorDay2025.Website.Extensions

<div>
    <FluentStack Margin="@Margin.Vertical6">
        <FluentSpacer />
        <FluentAnchorButton Appearance="ButtonAppearance.Subtle"
                            IconStart="@(new Icons.Regular.Size20.ArrowStepBack())"
                            Href="/schedule">
            All sessions
        </FluentAnchorButton>
    </FluentStack>

    @if (Session is null)
    {
        <FluentText>I think you've found a bug: this session is not known to our event.</FluentText>
    }

    else
    {
        <FluentGrid>
            <FluentGridItem Xs="12" Md="3">
                @foreach (var speaker in Session.Speakers)
                {
                    <FluentImage Source="@speaker.PhotoUrl"
                                 Fit="ImageFit.Contain"
                                 Shape="ImageShape.Circular"
                                 Width="100px"
                                 Height="100px" />
                }
            </FluentGridItem>
            <FluentGridItem Xs="12" Md="9">
                <FluentStack Orientation="Orientation.Vertical">

                    <FluentText Weight="TextWeight.Bold" Size="TextSize.Size700" Color="Color.Custom" CustomColor="var(--blazorday-color)">
                        @Session.Title
                    </FluentText>

                    <FluentText Weight="TextWeight.Bold" Color="Color.Custom" CustomColor="var(--blazorday-color)">
                        @string.Join(", ", Session.Speakers.Select(i => i.Name))
                    </FluentText>

                    <FluentText Style="text-align: justify;" Size="TextSize.Size400" Margin="@Margin.Vertical4">
                        @Session.Description.FormatMarkdown()
                    </FluentText>

                </FluentStack>
            </FluentGridItem>
        </FluentGrid>
    }
</div>
