@page "/speakers"

<div>
    <h1>Speakers</h1>

    <section>
        The list of speakers is currently being prepared. Stay tuned for more information!
    </section>

    @*  <FluentGrid Spacing="4">

        @foreach (var speaker in Speakers)
        {
            <FluentGridItem Xs="12" Sm="6" Md="3">
                <div class="speaker">
                    <FluentImage Source="@speaker.PhotoUrl" @onclick="@(async e => await OpenSpeakerDetailAsync(speaker.Id))" />
                    <FluentStack Orientation="Orientation.Vertical" Padding="@Padding.Horizontal2">
                        <FluentText Weight="TextWeight.Bold" Size="TextSize.Size500" Color="Color.Custom" CustomColor="var(--blazorday-color)">
                            @speaker.Name
                        </FluentText>
                        <FluentText>
                            @speaker.Title
                        </FluentText>
                        <FluentButton Appearance="ButtonAppearance.Transparent"
                                      IconEnd="@OpenIcon"
                                      IconOnly="true"
                                      aria-label="@($"Go to {speaker.Name}'s detailed page")"
                                      OnClick="@(async e => await OpenSpeakerDetailAsync(speaker.Id))" />
                    </FluentStack>
                </div>
            </FluentGridItem>
        }

    </FluentGrid> *@
</div>
