@page "/team"

<div>
    <h1>Dream team</h1>

    <FluentGrid Spacing="2">

        @foreach (var member in TeamMembers)
        {
            <FluentGridItem Xs="12" Md="6">
                <div class="team-member">
                    <FluentText Weight="TextWeight.Bold" Size="TextSize.Size700" Color="Color.Custom" CustomColor="var(--blazorday-color)">
                        @member.Name
                    </FluentText>
                    <FluentText>@member.Title</FluentText>
                    <FluentImage Source="@member.ImageUrl" Width="200px" Margin="@Margin.Top2" />
                    <FluentButton Appearance="ButtonAppearance.Transparent"
                                  IconEnd="@OpenIcon"
                                  Label="LinkedIn"
                                  OnClick="@(async e => await OpenTeamDetailAsync(member.LinkedIn))" />
                </div>
            </FluentGridItem>
        }

    </FluentGrid>
</div>
