@inherits LayoutComponentBase

<FluentLayout>
    <!-- Header -->
    <FluentLayoutItem Area="@LayoutArea.Header" Sticky="true" Style="background-color: var(--blazorday-top-bgcolor);">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentLayoutHamburger @ref="_hamburger" PanelSize="DialogSize.Small" PanelHeader="BlazorDay 2025">
                <NavMenu Hamburger="@_hamburger" />
            </FluentLayoutHamburger>
            <FluentImage Source="/img/logo-635.png" Height="40px" />

            <FluentSpacer />

            <FluentStack HorizontalGap="12px" Width="fit-content">
                <NavMenu />
            </FluentStack>

            <FluentSpacer />

        </FluentStack>
    </FluentLayoutItem>

    <!-- Content -->
    <FluentLayoutItem Area="@LayoutArea.Content" Padding="@Padding.All3">
        @Body
    </FluentLayoutItem>

    <!-- Footer -->
    <FluentLayoutItem Area="@LayoutArea.Footer" Sticky="false" Style="display: flex;">
        <div class="footer-copy">
            &copy; BlazorDay Team - 2025
        </div>
        <FluentSpacer />

        <FluentStack HorizontalGap="24px" Width="fit-content">
            <a href="/code-conduct">Code of Conduct</a>
            <a href="/hall-fame">Hall of Fame</a>
            <a href="/team">Team</a>
        </FluentStack>
        <FluentSpacer />
    </FluentLayoutItem>

</FluentLayout>

@* Add all FluentUI Blazor Providers *@
<FluentProviders />
