<div class="nav-menu" position="@(Hamburger is null ? "top" : "hamburger")">

    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/"))">
        Home
    </FluentButton>
    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/speakers"))">
        Speakers
    </FluentButton>
    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/schedule"))">
        Schedule
    </FluentButton>
    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/sponsors"))">
        Sponsors
    </FluentButton>
    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/contact"))">
        Contact
    </FluentButton>
    <FluentButton Appearance="ButtonAppearance.Transparent"
                  OnClick="@(e => GoToPageAsync("/team"))">
        Team
    </FluentButton>
</div>
